p= "#{@server.name}, an adult resident of the State of #{@server.organization.state.name}, not a party to this action, being duly sworn under oath deposes and says that on #{@service.date_served}, at #{@service.time_served}, in the #{@party.municipality.title}, #{@party.county.name} County, #{@party.state.name}, at #{@party.address}, #{@party.name} was served with an <<DOCUMENT STAMP?>> copy of the <<DOCUMENTS SERVED>> in the above-referenced matter by then and there leaving copies thereof with #{@service.person_name}, #{@service.person_title}, #{@service.person_capacity}. Such copies were endorsed with my name, the date and time of service."
