//= require _custom
//= require _metismenu
//= require_self

body
  min-height: 100vh

  #wrapper
    display: flex
    min-height: 100vh
    flex-direction: column

    > nav
      flex: 0 0 auto

      #side-menu
        min-height: calc(100vh - 51px)

        a.active
          background-color: transparent

    > #page-wrapper
      flex: 1 0 auto

a > .fa
  margin-right: 0.67rem
  display: inline-block
