//= require _custom
//= require _select
//= require _metismenu
//= require _table_base
//= require _table_theme
//= require datepicker/variables
//= require datepicker/styles
//= require_self

::root
  font-size: calc(0.5em + 1vw)

body
  min-height: 100vh

  #wrapper
    display: flex
    min-height: 100vh
    flex-direction: column

    > nav
      flex: 0 0 auto

      #side-menu
        min-height: calc(100vh - 51px)

        a.active
          background-color: transparent

    > #page-wrapper
      flex: 1 0 auto

      form
        margin: 4rem 2rem
        max-width: 48rem
        padding-bottom: 4rem

a > .fa
  margin-right: 0.67rem
  display: inline-block

.select-group
  clear: both

  & ~ small
    float: right
    cursor: pointer
    margin-right: 1.5rem

  & ~ .btn
    float: right
    font-size: 1.15rem
    margin-top: -0.67rem
    margin-bottom: 1rem

.table-wrapper
  margin: 0 -30px
  overflow-x: hidden

  .table-header
    padding: 30px

    h1
      margin: 0 !important
